{% extends "base.html" %}
{% load crispy_forms_tags %}   
  
{% block content %} 
{% include 'messages.html' %}

<main class="flex justify-center items-center min-h-screen bg-gray-800">
    <section class="w-full max-w-md px-6 py-5 mx-4 my-3 bg-gray-900 shadow-xl rounded-xl">
        <header class="text-center space-y-2">
            <h1 class="text-3xl font-extrabold text-blue-600">
                <i class="uil-file-edit-alt pr-1"></i>FlowBoard
            </h1>
            <h2 class="text-2xl font-semibold text-gray-300">Авторизация</h2>
        </header>

        <div class="mt-5 px-3 py-3 text-gray-300">
            <form method="post" class="space-y-4">
                {% csrf_token %}
                {{ login_form|crispy }}
                <div class="flex gap-3 mt-5">
                    <button type="submit"
                            class="transition-colors duration-200 rounded-xl px-5 py-2 font-semibold flex items-center
                                   text-blue-400 bg-blue-900 hover:bg-blue-800 focus:ring-2 focus:ring-blue-600">
                        <i class="bx bx-log-in pr-1"></i>Войти в аккаунт
                    </button>
                    <a href="/register"
                       class="transition-colors duration-200 rounded-xl px-5 py-2 font-semibold flex items-center
                             text-blue-400 bg-blue-900 hover:bg-blue-800">
                        <i class="uil uil-user-plus pr-1"></i>Создать аккаунт
                    </a>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock %}